<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css" />
  <!-- CSS Local -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="../style/styles.css">
  <title>Aplikasi Desktop</title>
</head>

<body id="about">
  <!-- Navbar -->
  <nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
    <div class="uk-navbar-center">
      <ul class="uk-navbar-nav">
        <li><a href="../index.html">Home</a></li>
        <li class="uk-active"><a href="about.html"> <u>About</u> </a></li>
        <li>
          <a href="#">Show More</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li><a href="common/requirement.html">Requirements</a></li>
              <hr>
              <li><a href="common/docomentations.html">Docomentations</a></li>
              <li><a href="common/repository.html">Course</a></li>
              <hr>
              <li><a href="common/basicKnowledge.html">Learn More</a></li>
              <li><a href="common/developer.html">Contact Developer</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Bagian Header -->
  <div class="container px-4 py-3">
    <div class="row">
      <p style="font-size:2.2rem; text-align: center;">Tentang Portal Pembelajaran ini</p>
      <hr width="340px">

      <div class="col contentAbout">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, eos dolore aut hic optio quisquam
          suscipit
          voluptatum odit eius architecto ad explicabo aperiam accusantium facilis vero tempore velit illo ipsum. Et
          quisquam, omnis suscipit hic harum quam repudiandae dicta aliquid tempore earum provident molestiae atque
          vero?
          Libero, repellat. Doloremque quis natus eveniet et deserunt porro architecto maxime, voluptates vero alias
          amet
          magni quod placeat at id provident expedita excepturi dicta ex vitae magnam deleniti voluptatum rem enim?
          Cumque
          maiores cum dolores? Laudantium vitae eaque quam natus maiores cupiditate dolores ipsam voluptas totam
          perspiciatis, quibusdam quidem qui quasi assumenda reprehenderit nemo. </p>
      </div>
      <div class="col contentAbout2">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, eos dolore aut hic optio quisquam
          suscipit
          voluptatum odit eius architecto ad explicabo aperiam accusantium facilis vero tempore velit illo ipsum. Et
          quisquam, omnis suscipit hic harum quam repudiandae dicta aliquid tempore earum provident molestiae atque
          vero?
          Libero, repellat. Doloremque quis natus eveniet et deserunt porro architecto maxime, voluptates vero alias
          amet
          magni quod placeat at id provident expedita excepturi dicta ex vitae magnam deleniti voluptatum rem enim?
          Cumque
          maiores cum dolores? Laudantium vitae eaque quam natus maiores cupiditate dolores ipsam voluptas totam
          perspiciatis, quibusdam quidem qui quasi assumenda reprehenderit nemo. </p>
      </div>
    </div>
  </div>




  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>