<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css" />
    <!-- CSS Local -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/styles.css">
    <title>CWA | Classes</title>
</head>

<body id="about">

    <!-- Navbar -->
    <nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../about.html"> About </a></li>
                <li>
                    <a href="#">Show More</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="requirement.html">Requirements</a></li>
                            <hr>
                            <li><a href="docomentations.html">Docomentations</a></li>
                            <li class="uk-active"><a href="repository.html">Course</a></li>
                            <hr>
                            <li><a href="basicKnowledge.html">Learn More</a></li>
                            <li><a href="developer.html">Contact Developer</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Class Row 1 -->
    <div class="container">
        <h1 class="mb-lg-4" style="text-align: left; margin-top:20px;">Materi Dasar</h1>
        <hr width="240px">
        <section class="text-center">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://cdn-icons-png.flaticon.com/256/1051/1051277.png" class="card-img-top"
                            alt="HTML">
                        <div class=" card-body">
                            <h5 class="card-title">HTML</h5>
                            <p class="card-text">Bahasa ini digunakan untuk membuat kerangka atau struktur dalam
                                pembuatan aplikasi dan website.</p>
                            <a href="../content/html.html" class="btn btn-primary">Start Learn</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://cdn-icons-png.flaticon.com/256/732/732190.png" class="card-img-top" alt="Css">
                        <div class="card-body">
                            <h5 class="card-title">CSS</h5>
                            <p class="card-text">CSS ini digunakan untuk mendesain tiap kelas / id
                                didalam aplikasi yang kita buat supaya tertata rapih dan lebih berwarna.</p>
                            <a href="../content/css.html" class="btn btn-primary">Start Learn</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://cdn-icons-png.flaticon.com/256/5968/5968292.png" class="card-img-top"
                            alt="Javascript">
                        <div class="card-body">
                            <h5 class="card-title">JAVASCRIPT</h5>
                            <p class="card-text">Memberikan interaksi terhadap apa yang sudah kita buat sebelumnya
                                di
                                bagian HTML dan CSS agar lebih aktif lagi</p>
                            <a href="../content/html.html" class="btn btn-primary">Start Learn</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Class Row 2-->


    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>